#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 360px;
    max-height: 360px;
}

.square {
    padding: 10px;
    flex: 1;
    background: white; 
    border: 1px solid black;
}

.square.active {
    background: green;
}